{% extends 'layout/admin.html.twig' %}

{% block title %}ALL POST{% endblock %}

{% block body %}
    <h1>Liste des posts</h1>
    <a class="btn btn-success" href="{{ path ('create_post') }}">Créer</a>
    <br>
    <br>
    {% for post in posts %}
        <h3>{{ post.title }}</h3>
        <p>{{ post.content }}</p>
        <p>{{ post.NumberView }}</p>

        <a class="btn btn-primary" href="{{ path('edit_post', {'id' : post.id}) }}">Editer</a>
        <a class="btn btn-danger" href="{{ path('delete_post', {'id' : post.id}) }}">Supprimer</a>
        <br>
        <br>
    {% endfor %}

{% endblock %}
