{% extends 'layout/front.html.twig' %}

{% block title %}Hello ForumController!{% endblock %}

{% block body %}
         <h1>{{ topic.title }}</h1>

    {% for message in messages %}
            <hr>
           <p>{{ message.content }}</p>
          <p>{{ message.createdAt|date('d-m-Y H:i:s') }}</p>
          <p>{{ message.user.firstName }} {{ message.user.lastName }}</p>

            {% if app.user.id == message.user.id %}
                <a href="{{path('message_edit',{'id':message.id})}}" class="btn btn-primary">Editer</a>
                <a href="{{path('message_delete',{'id':message.id})}}" class="btn btn-danger">Supprimer</a>
            {% endif %}

            <hr>
    {% endfor %}
    {% if app.user %}
        <a href="{{path('message_new',{'id':topic.id})}}" class="btn btn-success">Repondre</a>


    {% endif %}


{% endblock %}
